<h2 id="titulo">Géneros más leidos</h2>
<div id="contenedor">
  <div class="columna shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="contenedor-carta bg-custom">
      <h2 class="titulo-carta" href="#">Autoayuda</h2>
      <img src="../../content/images/autoayuda.jpg" alt="autoayuda" class="imagencarta" />
    </div>
  </div>
  <div class="columna shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="contenedor-carta bg-custom">
      <h2 class="titulo-carta" href="#">Ciencia Ficción</h2>
      <img src="../../content/images/cienciaficcion.jpg" alt="Pantano" class="imagencarta" />
    </div>
  </div>
  <div class="columna shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="contenedor-carta bg-custom">
      <h2 class="titulo-carta" href="#">Cuentos Infantiles</h2>
      <img src="../../content/images/cuentosinfantiles.jpg" alt="Isla" class="imagencarta" />
    </div>
  </div>
  <div class="columna shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="contenedor-carta bg-custom">
      <h2 class="titulo-carta" href="#">Fantasia</h2>
      <img src="../../content/images/fantasia.jpg" alt="Bosque" class="imagencarta" />
    </div>
  </div>
  <div class="columna shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="contenedor-carta bg-custom">
      <h2 class="titulo-carta" href="#">Romance</h2>
      <img src="../../content/images/romance.jpg" alt="Montaña" class="imagencarta" />
    </div>
  </div>
  <div class="columna shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="contenedor-carta bg-custom">
      <h2 class="titulo-carta" href="#">Terror</h2>
      <img src="../../content/images/terror.jpg" alt="wasteland" class="imagencarta" />
    </div>
  </div>
</div>
