<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h5 class="display-4">
      ¡Bienvenido a tu biblioteca online! Aquí encontrarás una amplia colección de libros electrónicos y audiolibros para todos los gustos y
      edades. Nuestra plataforma es intuitiva y fácil de usar, permitiéndote acceder a tus títulos favoritos desde cualquier dispositivo.
      Disfruta de recomendaciones personalizadas y participa en nuestra comunidad de lectores. Explora, descubre y déjate llevar por el
      placer de la lectura.
    </h5>

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account()) {
            <span id="home-logged-message">Está conectado como &quot;{{ account()!.login }}&quot;.</span>
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          <span>Si desea </span>
          <a class="alert-link" (click)="login()">iniciar sesión</a
          ><span
            >, puede intentar con las cuentas predeterminadas:<br />- Administrador (usuario=&quot;admin&quot; y
            contraseña=&quot;admin&quot;) <br />- Usuario (usuario=&quot;user&quot; y contraseña=&quot;user&quot;).</span
          >
        </div>

        <div class="alert alert-warning">
          <span>¿Aún no tienes una cuenta?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register">Crea una cuenta</a>
        </div>
      }
      <h4></h4>
    </div>

    <a class="alert-link" (click)="generos()">Generos</a>
  </div>
</div>
